/**
 *
 */
 .news-card {
  background-color: $white;
  font-weight: 400;
  margin-bottom: 1.6rem;
  border-radius: 0.125rem;
  box-shadow: 0 1px 3px rgba(0,0,0, 0.12), 0 1px 2px rgba(0,0,0, 0.24);

  @include breakpoint(medium) {
    //@include xy-cell(3);
  }

  .card-media {
    display: inline-block;
    background-color: #333;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 100%;
  }

  iframe {
    height: 150px;
    width: 100%;
  }

  .card-section {
    background-color: inherit;

    .news-card-date {
      font-size: 1em;
      color: $dark-gray;
    }

    .news-card-article {
      background-color: inherit;

      .news-card-title {
        line-height: 1.3;
        font-weight: bold;

        a {
          text-decoration: none;
          color: $dark-gray;
          transition: color 0.5s ease;

          &:hover {
            color: $primary-color;
          }
        }
      }

      .news-card-description {
        color: $dark-gray;
      }
    }

    .news-card-author {
      overflow: hidden;
      padding-bottom: 1.6rem;

      .news-card-author-image {
        display: inline-block;
        vertical-align: middle;

        img {
          border-radius: 50%;
          margin-right: 0.6em;
        }
      }

      .news-card-author-name {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}