/**
* Custom style
*/
main.main-content-full {
    width: 100%;
}
.main-content__inner {
    
    @include breakpoint(medium) {
        margin: 0 auto;
        max-width: 650px;
    }
}

.button {
    cursor: pointer;
}

.videos__row {
    iframe {
        width: 95%;
        height: 150px;
    }
}

                    